.container {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);
  gap: var(--space-xs);
  border: 2px solid var(--color-border);
  border-radius: var(--space-sm);
  -webkit-box-shadow: 10px 13px 1px -3px var(--color-border);
  box-shadow: 10px 13px 1px -3px var(--color-border);
}

.lists {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  overflow-y: auto;
}
