.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-xs);
}

.checkbox {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  transition: all 200ms ease;
}
.checkbox:hover {
  transform: translateY(2px);
}
.checkbox:checked + .text {
  text-decoration: line-through;
  text-decoration-color: var(--color-accent);
}

.text {
  flex: 1 1 0%;
  margin-left: var(--space-xs);
  color: var(--color-text);
  font-size: 1.3rem;
  white-space: normal;
  word-break: break-word;
  cursor: pointer;
}

.editBtn,
.deleteBtn {
  flex-shrink: 0;
  font-size: 1.2rem;
  transition: all 250ms ease-in-out;
}
.editBtn:hover,
.deleteBtn:hover {
  animation: wobble 300ms ease;
  animation-iteration-count: infinite;
}

.editBtn:hover {
  color: var(--color-accent);
}

.deleteBtn:hover {
  color: var(--color-accent-secondary);
}

@keyframes wobble {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(15deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
